In [1]:
import pandas as pd
import numpy as np

In [2]:
def SimpleImputer(df,type):
    for colname in df:
        if type=="mean":
            imputeval=np.nanmean(df[colname])
        if type=="median":
            imputeval=np.nanmedian(df[colname])
        if type=="mode":
            imputeval=np.nanmode(df[colname])
        df[colname].replace(np.nan,imputeval,inplace=True)

In [3]:
dict1={"hello":[1,2,3,4,np.nan,2,5,np.nan,4,5,6]}
df=pd.DataFrame(dict1)
df

    hello
0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     2.0
6     5.0
7     NaN
8     4.0
9     5.0
10    6.0

In [4]:
type="mean"
SimpleImputer(df,type)
df

       hello
0   1.000000
1   2.000000
2   3.000000
3   4.000000
4   3.555556
5   2.000000
6   5.000000
7   3.555556
8   4.000000
9   5.000000
10  6.000000