In [1]:
# ordinal encoding happens for categorical variables

import pandas as pd
import numpy as np

In [2]:
def MyOrdinalEncoder(df):
    # mapping each unique var with a unique number 
    for colname in df:
        unique_vals=df[colname].unique()
        val_vs_num={unique_vals[i]:i for i in range(len(unique_vals))}
        for val in unique_vals:
            df[colname].replace(val,val_vs_num[val],inplace=True)

In [3]:
dict1={"hello":["hola","hi","hi","henlo","bonjour","hi","henlo","henlo","bonjour","hola","hi"]}
df=pd.DataFrame(dict1)
df

      hello
0      hola
1        hi
2        hi
3     henlo
4   bonjour
5        hi
6     henlo
7     henlo
8   bonjour
9      hola
10       hi

In [4]:
MyOrdinalEncoder(df)
df

    hello
0       0
1       1
2       1
3       2
4       3
5       1
6       2
7       2
8       3
9       0
10      1

In [5]:
a=df["hello"].unique()